{% extends "base.html" %}

{% block content %}
<div class="row">
	{% csrf_token %}
	
	<div id="select_channels" class="column left">
	
	</div>
	<div class="column middle" id="charts">
	<p>Wykresy</p>
	</div>
	<div class="column right" id="sensors">
	<p>Rozmieszczenie czujników</p>
	<img id="sensors_1">
	<img id="sensors_2">
	</div>
</div>
<script>

var channels = {{channels|safe}}
var channels_div = document.getElementById("select_channels")
var count = 0;
for(key in channels){
	if (channels[key].length != 0){
		var text = document.createElement("p");                 
		text.innerHTML = "Kanały " + key
		var select = document.createElement("select");                 
		select.setAttribute("multiple","");
		select.setAttribute("class","select_class");
		select.setAttribute("id","select_class"+count.toString());
		
		channels[key].unshift("Wszystkie " + key)
		for(var i=0; i<channels[key].length; i++){
			var option = document.createElement("option")
			option.innerHTML = channels[key][i]
			option.setAttribute("value",channels[key][i])
			select.appendChild(option)
		}
		channels_div.appendChild(text)
		channels_div.appendChild(select)
		channels_div.appendChild(document.createElement("br"))
		count += 1;
	}
	
}
var button = document.createElement("button");
button.innerHTML = "Zatwierdź"
button.setAttribute("id", "channel_button")
button.setAttribute("onclick", "send_channels()")
channels_div.appendChild(button)   
var channels_to_send = []              
function send_channels(){
	
    var csrftoken = $("[name=csrfmiddlewaretoken]").val();
	channels_to_send = [] 
	for(var i=0;i<count;i++){
		channels_to_send = 	channels_to_send.concat($('#select_class'+i.toString()).val())
	}
	console.log(channels_to_send)
	var data = {
		"channels": channels_to_send,
		"action": "send_channels"
	}
	$.ajax({
            type: 'POST',
            headers: {
                "X-CSRFToken": csrftoken
            },
            url: '',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            dataType: 'text',
            success: function(response){
				response = JSON.parse(response)
                
				var img = document.getElementById("sensors_1")
				img.setAttribute("src", "data:image/png;base64," + response["img_data_2d"])
				
				var img = document.getElementById("sensors_2")
				img.setAttribute("src", "data:image/png;base64," + response["img_data_3d"])
				
				if(response["ch_type"] == "EEG"){
					var chart_div = document.getElementById("charts")
					while(chart_div.firstChild){
						chart_div.removeChild(chart_div.lastChild);	
					}
					var p = document.createElement("p")
					p.innerHTML = "Wykresy"
					chart_div.appendChild(p)
					
					var img = document.createElement("img")
					img.setAttribute("src", "data:image/png;base64," + response["chart_data"])
					img.setAttribute("id", "non_filter")
					chart_div.appendChild(img)
					
					var button = document.createElement("button")
					button.innerHTML = "Załaduj"
					button.setAttribute("onclick", "send_filter()")
					
					var input_lowpass = document.createElement("input")
					input_lowpass.setAttribute("type", "number")
					input_lowpass.setAttribute("min", "0")
					input_lowpass.setAttribute("max", "1")
					input_lowpass.setAttribute("step", "0.1")
					input_lowpass.setAttribute("placeholder", "Lowpass")
					input_lowpass.setAttribute("id", "low_pass")
					
					var input_higpass = document.createElement("input")
					input_higpass.setAttribute("type", "number")
					input_higpass.setAttribute("min", "0")
					input_higpass.setAttribute("max", "1")
					input_higpass.setAttribute("step", "0.1")
					input_higpass.setAttribute("placeholder", "Highpass")
					input_higpass.setAttribute("id", "high_pass")
					
					chart_div.appendChild(document.createElement("br"))
					var label = document.createElement("label")
					label.innerHTML = "Filtracja: "
					chart_div.appendChild(label)
					chart_div.appendChild(input_lowpass)
					chart_div.appendChild(input_higpass)
					chart_div.appendChild(button)
					
					var label = document.createElement("label")
					label.innerHTML = "Evoked target"
					
					chart_div.appendChild(document.createElement("br"))
					chart_div.appendChild(label)
					
					var img = document.createElement("img")
					img.setAttribute("src", "data:image/png;base64," + response["evoked_target"])
					img.setAttribute("id", "evoked_target")
					chart_div.appendChild(img)
					var label = document.createElement("label")
					label.innerHTML = "Evoked standard"
					chart_div.appendChild(document.createElement("br"))
					chart_div.appendChild(label)
					
					
					var img = document.createElement("img")
					img.setAttribute("src", "data:image/png;base64," + response["evoked_standard"])
					img.setAttribute("id", "evoked_standard")
					chart_div.appendChild(img)
					
				}	
				if(response["ch_type"] == "MEG"){
					var chart_div = document.getElementById("charts")
					while(chart_div.firstChild){
						chart_div.removeChild(chart_div.lastChild);	
					}
					var p = document.createElement("p")
					p.innerHTML = "Wykresy"
					chart_div.appendChild(p)
					
					var img = document.createElement("img")
					img.setAttribute("src", "data:image/png;base64," + response["chart_data_1"])
					img.setAttribute("id", "non_filter")
					chart_div.appendChild(img)
					var img = document.createElement("img")
					img.setAttribute("src", "data:image/png;base64," + response["chart_data_2"])
					img.setAttribute("id", "non_filter")
					chart_div.appendChild(img)
				
				
				}
				for(var i=0;i<count;i++){
					var select = document.getElementById('select_class'+i.toString())
					for(var s=0; s<select.length; s++){
						select.options[s].selected = false;
					} 
				}
				
            },
            error: function(error){
                console.log(error)
            },
            cache: true,
            contentType: false,
            processData: false,
        })
}


function send_filter(){
var csrftoken = $("[name=csrfmiddlewaretoken]").val();
	var data = {
		"high_pass": document.getElementById("high_pass").value,
		"low_pass": document.getElementById("low_pass").value,
		"action": "send_filter",
		"channels": channels_to_send
	}
	$.ajax({
            type: 'POST',
            headers: {
                "X-CSRFToken": csrftoken
            },
            url: '',
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(data),
            dataType: 'text',
            success: function(response){
				response = JSON.parse(response)
				var chart_div = document.getElementById("charts")
				while(chart_div.firstChild){
					chart_div.removeChild(chart_div.lastChild);	
				}
				var p = document.createElement("p")
				p.innerHTML = "Wykresy"
				chart_div.appendChild(p)
				
				var img = document.createElement("img")
				img.setAttribute("src", "data:image/png;base64," + response["data"])
				img.setAttribute("id", "filter")
				chart_div.appendChild(img)
				
				var button = document.createElement("button")
				button.innerHTML = "Załaduj"
				button.setAttribute("onclick", "send_filter()")
				
				var input_lowpass = document.createElement("input")
				input_lowpass.setAttribute("type", "number")
				input_lowpass.setAttribute("min", "0")
				input_lowpass.setAttribute("max", "1")
				input_lowpass.setAttribute("step", "0.1")
				input_lowpass.setAttribute("placeholder", "Lowpass")
				input_lowpass.setAttribute("id", "low_pass")
				
				var input_higpass = document.createElement("input")
				input_higpass.setAttribute("type", "number")
				input_higpass.setAttribute("min", "0")
				input_higpass.setAttribute("max", "1")
				input_higpass.setAttribute("step", "0.1")
				input_higpass.setAttribute("placeholder", "Highpass")
				input_higpass.setAttribute("id", "high_pass")
				
				chart_div.appendChild(document.createElement("br"))
				var label = document.createElement("label")
				label.innerHTML = "Filtracja: "
				chart_div.appendChild(label)
				chart_div.appendChild(input_lowpass)
				chart_div.appendChild(input_higpass)
				chart_div.appendChild(button)
				
				var label = document.createElement("label")
					label.innerHTML = "Evoked target"
					
					chart_div.appendChild(document.createElement("br"))
					chart_div.appendChild(label)
					
					var img = document.createElement("img")
					img.setAttribute("src", "data:image/png;base64," + response["evoked_target"])
					img.setAttribute("id", "evoked_target")
					chart_div.appendChild(img)
					var label = document.createElement("label")
					label.innerHTML = "Evoked standard"
					chart_div.appendChild(document.createElement("br"))
					chart_div.appendChild(label)
					
					
					var img = document.createElement("img")
					img.setAttribute("src", "data:image/png;base64," + response["evoked_standard"])
					img.setAttribute("id", "evoked_standard")
					chart_div.appendChild(img)
            },
            error: function(error){
                console.log(error)
            },
            cache: true,
            contentType: false,
            processData: false,
        })

}


</script>
<style>
body {
	font-size: 20px;
	font-family: arial;
	text-align: center;
}
* {
  box-sizing: border-box;
	margin: 0;
	padding: 0;

}

.column {
  float: left;
  padding: 10px;
  height: 300px;
}

.left {
  width: 15%;
}

.middle {
  width: 45%;
}

.right {
  width: 40%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.select_class {
	font-size: 20px;
}



</style>
{% endblock content %}